
ugine/vc15/\.vs/ugine/v15/Browse\.VC\.opendb

ugine/vc15/\.vs/ugine/v15/Browse\.VC\.db

ugine/vc15/x64/Debug/ugine\.tlog/CL\.command\.1\.tlog

ugine/vc15/x64/Debug/ugine\.tlog/CL\.read\.1\.tlog

ugine/vc15/x64/Debug/ugine\.tlog/CL\.write\.1\.tlog

ugine/vc15/x64/Debug/ugine\.tlog/ugine\.lastbuildstate

ugine/vc15/x64/Debug/ugine\.tlog/unsuccessfulbuild

ugine/vc15/x64/Debug/vc141\.idb

ugine/vc15/x64/Debug/ugine\.tlog/link\.command\.1\.tlog

ugine/vc15/x64/Debug/ugine\.tlog/link\.read\.1\.tlog

ugine/vc15/x64/Debug/ugine\.tlog/link\.write\.1\.tlog

ugine/vc15/\.vs/ugine/v15/\.suo

ugine/vc15/\.vs/ugine/v15/ipch/AutoPCH/c4279ff02c7ef7e9/SHADER\.ipch

ugine/vc15/\.vs/ugine/v15/ipch/AutoPCH/fe50517ee1f98273/MAIN\.ipch

ugine/vc15/ugine\.vcxproj\.user

ugine/vc15/x64/Debug/Buffer\.obj

ugine/vc15/x64/Debug/Camera\.obj

ugine/vc15/x64/Debug/Entity\.obj

ugine/vc15/x64/Debug/glew\.obj

ugine/vc15/x64/Debug/main\.obj

ugine/vc15/x64/Debug/Mesh\.obj

ugine/vc15/x64/Debug/Model\.obj

ugine/vc15/x64/Debug/Shader\.obj

ugine/vc15/x64/Debug/State\.obj

ugine/vc15/x64/Debug/ugine\.log

ugine/vc15/x64/Debug/vc141\.pdb

ugine/vc15/x64/Debug/Vertex\.obj

ugine/vc15/x64/Debug/World\.obj

ugine/vc15/x64/Debug/ugine\.exe

ugine/vc15/x64/Debug/ugine\.ilk

ugine/vc15/x64/Debug/ugine\.pdb

ugine/vc15/\.vs/ugine/v15/ipch/AutoPCH/245b0e7c252ad628/MODEL\.ipch

ugine/vc15/\.vs/ugine/v15/ipch/AutoPCH/2e2f72b78f57ae46/SHADER\.ipch

ugine/vc15/\.vs/ugine/v15/ipch/AutoPCH/34d96326106fbb0c/MAIN\.ipch

ugine/vc15/\.vs/ugine/v15/ipch/AutoPCH/3f5e158bafe5d5b0/TEXTURE\.ipch

ugine/vc15/\.vs/ugine/v15/ipch/AutoPCH/504e20fda0589f3/TEXTURE\.ipch

ugine/vc15/\.vs/ugine/v15/ipch/AutoPCH/565212ecef16fc37/BUFFER\.ipch
